html {
    font-size: 18px;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #085321;
    color: #EDFFF5;
    background-image: url("images/asia-street-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/*header*/

header {
    position: fixed;
    width: 100%;
    height: 5rem;
    background-color: #010F06;
    display: flex;
    white-space: nowrap;
    align-items: center;
}

.logo {
    height: 5rem;
    justify-content: left;
}

.name {
    font-family: 'Kaushan Script', cursive;
    line-height: 0.8;
    margin-left: 1rem;
    margin-right: 2rem;
    justify-content: left;
}

.name h4 {
    font-family: 'Open Sans', sans-serif;
    line-height: 0.2;
}

.nav-link {
    font-family: 'Kaushan Script', cursive;
    color: #EDFFF5;
    margin: 0.5rem;
}

/*main*/

.container {

}

.container-heading {

}

.bath {

}

.sustenance {

}

.spirit {

}

/*staff*/

#staff-section {

}

.staff-member {

}

/*contact*/

#contact {

}

/*footer*/

footer {
    font-size: 0.5rem;
}