html {
    font-size: 18px;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #085321;
    color: #EDFFF5;
    background-image: url("images/asia-street-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/*header*/

header {
    position: fixed;
    width: 100%;
    height: 5rem;
    background-color: #010F06;
    display: flex;
    white-space: nowrap;
    align-items: center;
    justify-content: left;
}

.logo {
    height: 5rem;
}

.name {
    font-family: 'Kaushan Script', cursive;
    line-height: 0.8;
    margin-left: 1rem;
    margin-right: 2rem;
}

.name h4 {
    font-family: 'Open Sans', sans-serif;
    line-height: 0.2;
    font-weight: 400;
}

nav {
    flex-shrink: 2;
}

.nav-link {
    font-family: 'Kaushan Script', cursive;
    color: #EDFFF5;
    margin: 0.5rem;
}

@media only screen and (max-width: 600px) {
    header {
        height: 10rem;
    }

    .logo {
        height: 10rem;
    }

    .name {
        font-size: 24px;
    }

    nav {
        display: none;
    }
}

/*main*/

.container {

}

.container-heading {

}

.bath {

}

.sustenance {

}

.spirit {

}

/*staff*/

#staff-section {

}

.staff-member {

}

/*contact*/

#contact {

}

/*footer*/

footer {
    font-size: 0.5rem;
}